extends layout

block content
    div(class="jumbotron")
            div(class="bs-example" data-example-id="inverted-navbar")
                nav(class="navbar navbar-inverse")
                    div(class="navbar-header")
                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/")="Home"

                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/visual")="Sentiment Statistics"

                        btn(class="navbar-toggle collapsed" aria-expanded="false" data-target="#bs-example-navbar-collapse-9" data-toggle="collapse" type="button")
                        a(class="navbar-brand" href="/about")="About"
                
            p About the Project
            
            p An application using MongoDB, nodejs and express. The goal of the project is to develop a basic search application that can be used to search tweets or comparable data of your choice.
            
            p Dataset        
            
            p First GOP Debate Twitter Sentiment: Analyze tweets on the first 2016 GOP Presidential Debate. Collected a dataset with tens of thousands of tweets about the early August GOP debate in Ohio and asked contributors to do both sentiment analysis and data categorization. Contributors were asked if the tweet was relevant, which candidate was mentioned, what subject was mentioned, and then what the sentiment was for a given tweet. We've removed the non-relevant details from the uploaded dataset.

            p Team members
            ul
              li
                Strong Annu Kuriakose
              li
                Strong Evlin Steeve
